body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(32, 29, 29);
}
@keyframes siteLoadTransition_spotifyBox { /* If it works, it works. */
    0% {
        transform: translateY(15%);
        opacity: 0;
    }
    35% {
        transform: translateY(15%);
        opacity: 0;  
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.textbox {
    padding: 2px;
    color:rgb(76, 183, 156);
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    text-align: center;
}
@media (max-width: 800px) {
    .row-container {
        flex-direction: column;
    }
    .container {
        padding: 20px
    }
    .image {
        padding: 0px
    }
}
.spotifybox {
    animation: 1.05s cubic-bezier(0, 0.55, 0.45, 1) 0s 1 siteLoadTransition_spotifyBox;
}
a {
    color: #fff;
    text-decoration: none; 
    padding: 5px 10px; 
    border: 5px solid rgb(32, 29, 29);
    font-family: "Rubik", sans-serif;
    background-color: rgb(52, 107, 86);
    font-size: 24px;
    border-radius: 15px; 
    transition: all 0.3s ease; 
    display: inline-block; 
}
a:hover {
    background-color: rgb(76, 183, 156); 
    transform: scale(1.1);
}